
<body style="background-color: rgb(235, 206, 171);">
    <br />
    <br />
    <br />
    <br />
<br />
<h1 style="text-align: center;"><b>Project:Client Mangemant System</b></h1>
<br />
<div style="text-align: center;" >
    <div class="row" width="">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        
    <div class="card">
        <div class="card-body">
           
        <button class="btn btn-danger"  routerLink="/login">Start Client Mangemant System</button>
    </div>
    </div>
    </div>
    <div class="col-md-4"></div>
</div>
<br />
<br />
<h3><b>   Developer Name: Nisha
</b> 
</h3>
<br />
<h3>
    Login Credentials
    <br>
    username:admin
    <br>
    password:admin@123
</h3>

<br />
<h3>
    
</h3>
</div>
<br />
<br />
<br />
<br />
</body>