<div class="header">
<nav class="navbar bg-primary"  class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="navbar-brand" ><h2><b>Project Details</b></h2></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      
      <div class="d-flex">
        <a style="float: right;"class="nav-link" routerLink="/login"><b>Logout</b></a>
      </div>
    </div>
  </nav>
  <h3 style="text-align: center;">Welcome!{{stdname}}</h3>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <div class="card">
  <table class="table">
    <thead style="--bs-table-bg:rgb(158, 90, 100);">
      <tr>
        <th scope="col">Project Id</th>
        <th scope="col">Project Name</th>
        <th scope="col">Project Duration</th>
        <th scope="col">Client Id</th>
       
        
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let project of clientProject">
        <td>{{project.id}}</td>
        <td>{{project.name}}</td>
        <td>{{project.duration}}</td>
        <td>{{project.cid}}</td>
       
  
      </tr>
    
    </tbody>
  </table>
</div>
<div class="col-md-2"></div>
</div>
</div>


