<div *ngIf="navbar1">
<section class="header">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto mb-2 mb-lg-0" >
        <a class="nav-link " aria-current="page" routerLink="home"><h5><b>Home</b></h5></a>
        <a class="nav-link" routerLink="clientinfo"><h5><b>Client Info</b></h5></a>
        <a class="nav-link" routerLink="projectinfo"><h5><b>Project Info</b></h5></a>
        <a class="nav-link" routerLink="projecttask"><h5><b>Task Info</b></h5></a>
        <a class="nav-link" routerLink="meeting"><h5><b>Meeting Info</b></h5></a>
      
      </div>
      <div class="d-flex">
        <a class="nav-link" routerLink="login"><h5><b>Logout</b></h5></a>
      </div>
    
    </div>
  </div>
</nav>
</section>
</div>







<div class="container-fluid">

<router-outlet></router-outlet>
</div>

